*.toc
*.snm
*.out
*.nav
*.log
*.fls
*.fdb_latexmk
*.aux
*.pyc
*.py#
*.bash_history
.DS_Store
vasp_std
bin/
build/
vasprun.xml
GAMMA
LOCPROJ
PROJCAR
WAVECAR
CONTCAR
DOSCAR
CHG
EIGENVAL
IBZKPT
OSZICAR
OUTCAR
PCDAT
REPORT
XDATCAR
PROCAR
vasp.ctrl
vasp.h5
vasp.pg1
GAMMA.old
H.txt
observables_imp*
vasp.lock
.ipynb_checkpoints
